{% extends 'layout.html.twig' %}

{% block content %}

 	{% block title2 %}Fight Rabbit{% endblock %}
	

	<div class="row ">
	  <img  src="/assets/images/AngryRabiitHome.png" alt="Image_accueil">
	</div>

	<div class="row">
	<a href="/choice/show"><button type="button" class="btn btn-danger btn-rounded">Start</button></a>
	</div>





{% endblock %}
